.button-primary {
    width: 100%;
    background-color: $primary-dark;
    color: $primary-light;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5px;    
    &:hover {
        background-color: darken($primary-dark, 5%);
        color: $primary-light;        
    }
}

.button-secondary {
    background-color: $primary-dark;
    padding: 5px 10px;
    color: $primary-light;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
        background-color: darken($primary-dark, 5%);
        color: $primary-light;
    }
}

.button-label {
    background-color: $primary-dark;
    padding: 2px 7px;
    color: $primary-light;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
        background-color: darken($primary-dark, 5%);
        color: $primary-light;
    }
}

.secondary-link {
    display: block;
    font-size: 0.8em;
    text-align: center;
}